@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

/* -----------------------------------------
  Tailwind v4 theme configuration
  (Converted from your JS config)
------------------------------------------ */
@theme {
  /* === Colors === */
  --color-brown: #53423e;
  --color-lightBrown: #645550;
  --color-darkBrown: #2c2523;
  --color-black: #1e1917;
  --color-white: #f1e1d9;
  --color-cyan: #15d1e9;
  --color-lightCyan: #88e5f0;
  --color-darkCyan: #009fb3;
  --color-orange: #fb9718;
  --color-lightOrange: #fac27b;
  --color-darkOrange: #d28422;
  --color-grey: #626965;
  --color-lightGrey: #978580;
  --color-darkGrey: #3f4441;

  /* === Fonts === */
  --font-body: "Josefin Sans", sans-serif;
  --font-special: "Nunito", sans-serif;

  /* === Shadows === */
  --shadow-cyanShadow: 0px 0px 20px 0px rgba(94, 206, 220, 0.5);
  --shadow-cyanMediumShadow: 10px_10px_200px_150px_rgba(94, 206, 220, 0.5);
  --shadow-orangeMediumShadow: 10px_10px_200px_150px_rgba(240, 169, 79, 0.5);

  /* === Breakpoints === */
  --breakpoint-sm: 350px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}




/* Example global style */
body {
  @apply bg-darkBrown text-white font-body;
}